<div class="adminPanelContainer">
	<div class="adminNav" id="myAdminNav">
	  	<a class="item"
	  		ng-click="myFunction()"
			ui-sref-active="active"
			ui-sref="home.kreirajNatjecatelja">
				Kreiraj natjecatelja</a>
	    <a class="item"
	    	ng-click="myFunction()"
			ui-sref-active="active"
			ui-sref="home.kreirajSudca">
				Kreiraj sudca</a>
	    <a class="item"
	    	ng-click="myFunction()"
			ui-sref-active="active"
			ui-sref="home.kreirajTim">
				Kreiraj tim</a>
	  	<a class="item"
	  	ng-click="myFunction()"
			ui-sref-active="active"
			ui-sref="home.kreirajNatjecanje">
				Kreiraj natjecanje</a>
	  	<a class="item"
	  		ng-click="myFunction()"
			ui-sref-active="active"
			ui-sref="home.prijavaTima">
				Prijavi tim na natjecanje</a>
	  	<a class="item"
	  		ng-click="myFunction()"
			ui-sref-active="active"
			ui-sref="home.zapocniNatjecanje">
				Zapocmi natjecanje</a>
	  	<a class="icon" ng-click="myFunction()">
	    	<i class="fa fa-bars"></i>
		</a>
		<a class="item"
			ng-click="odjava()"
	  		ui-sref-active="active">
		  	Odjavi se</a>
	</div>
	<div class="panel" ui-view="adminPanel">
		No panel selected.
	</div>
</div>
