.adminNav {
  overflow: hidden;
  background-color: #c0d0d6;
}

.adminNav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.adminNav a:hover {
  background-color: #d9e2e6;
  color: black;
}

.active {
  background-color: #496374;
  color: white;
}
.adminNav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .adminNav a{display: none;}
  .adminNav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .adminNav.responsive {position: relative;}
  .adminNav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .adminNav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
