table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  font-weight: bold;
}

table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
p{
  font-size: 18px;
  margin: 5px 0;
}
@media screen and (max-width: 600px){
  p{
  font-size: 14px;
  }
  .bigTableContainer{
    overflow-x: auto;
    width: 96% !important;
    display: block !important;
  }
}
.formContainer,
.tableContainer,
.bigTableContainer{
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stopWatch-btn{
  width: 120px;
  background-color: #68888e;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px auto;
  cursor: pointer;
  border-radius: 14px;
}
.stopWatch-input{
  width: 240px;
  border-radius: 6px;
  border: solid 1px #68888e;
  padding-left: 10px;
}
