<form ng-show="showme" class="loginForm" ng-submit="createPlayer(player)">
	<p>Ime natjecatelja</p>
	<input class="dux-input" id="firstName" type ="text"  ng-model="player.firstName">
	<p>Prezime natjecatelja</p>
	<input class="dux-input" id="secondName" type ="text"  ng-model="player.secondName">
	<button  class="dux-button red round big no-border" type="submit">SAVE</button>
</form>

<table>
  <tr>
    <th>Redni broj</th>
    <th>Ime natjecatelja</th> 
    <th>Prezime natjecatelja</th>
  </tr>
  <tr ng-repeat="player in allPlayers" >
    <td>{{ $index + 1 }}</td>
    <td>{{ player.firstName }}</td>
    <td>{{ player.secondName }}</td>
  </tr>
</table>
		
		

	
