html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}
h3 {
  text-align: center;
}

header {
  background-color: #c0d0d6;
}
header img {
  height: 80px;
}
.header-content {
  display: flex;
  justify-content: space-between;
}

.loginContainer {
  display: flex;
  justify-content: flex-end;
}
.loginContainer .loginForm {
  display: flex;
  justify-content: space-between;
}
.loginContainer .loginForm .column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 10px;
}
.loginContainer .loginForm .btn {
  padding: 5px 10px;
  font-size: 12px;
  color: white;
  border: 1px solid white;
  text-transform: uppercase;
  text-decoration: none !important;
  font-weight: normal;
  cursor: pointer;
  height: 30px;
  width: 150px;
  margin: 35px 10px 0px 0;
}


/*slider*/
.imageslide{
  margin: 20px auto 0;
  margin-bottom: 20px;
  overflow:hidden;
  position:relative;
  text-align: center;
}

.imageslide .slider-content {
  position: absolute;
  width:100%;


}
.slideshow {
  font-family: "Arial", sans-serif;
  text-align: center;
  position:relative;
  width:600px;
  overflow:hidden;
  background: #1a1a1a;
  margin: 0 auto;
  color: white;
  text-shadow: 1px 1px 1px #000;
  border-radius: .3em;
  margin-top: 30px;
}


.animate-enter,.animate-leave {
  -webkit-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
  -moz-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
  -ms-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
  -o-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
  transition:1000ms cubic-bezier(.165,.84,.44,1) all;
}

.animate-enter {
  left:100%;
}

.animate-enter.animate-enter-active {
  left:0;
}

.animate-leave {
  left:0;
}

.animate-leave.animate-leave-active {
  margin-left:-100%;
}

.rezultatLive {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.rezultatContent {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px 0;
  border: solid 1px;
}
.clabname {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid;
}
.description,
.descriptionAll,
.allRez{
  width: 16.66%;
  text-align: center;
}
.clabname,
.descriptionAll {
  border-bottom: 1px solid;
}
.description,
.descriptionRez{
  border-bottom: 1px solid;
  border-right: 1px solid;
}

.descriptionRez {
  width: 20%;
  text-align: center;
}

.allRez {
  font-size: 18px;
  font-weight: 800;

}
.datalist {
  display: flex;
  width:83.34%;
}

.todayLocation {
  margin: 20px auto;
}


footer {
  padding: 20px;
  background-color: #c0d0d6;
}
.footer-links.about {
  display: flex;
  flex-direction: column;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
}

.copyright {
  justify-content: center;
  display: flex;
  width: 100%;
  margin-top: 10px;
}




@media only screen and (max-width: 767px) {
  .loginContainer  {
    display: flex;
    justify-content:center;
    margin: 10px;
  }
  .loginForm{
    display: flex;
    flex-direction: column;
  }
  header img {
    margin: auto;
  }
  .imageslide,
  .slider-content img{
    height: 130px;
  }
  .slider-content.faust img{
    width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .rezultatLive {
    width: 80%;
  }
  header img {
    margin: 20px;
  }
  .imageslide  {
    min-width: 600px;
    height:300px;
  }
  .slider-content{
    height:300px;
  }
  .footer-content {
    justify-content: flex-end;
  }
  .footer-links {
    width: 50%;
  }
}
