<form ng-show="show" class="loginForm" ng-submit="login(loginModel)">

	<p>Ime tima</p>
	<input class="dux-input" id="username" type ="text"  ng-model="loginModel.username">
	<p>Ime prvog igraca</p>
	<input class="dux-input" id="username" type ="text"  ng-model="loginModel.username">
	<p>Ime drugog igraca</p>
	<input class="dux-input" id="username" type ="text"  ng-model="loginModel.username">
	<p>Ime treceg igraca</p>
	<input class="dux-input" id="username" type ="text"  ng-model="loginModel.username">
	<p>Ime sudca tima</p>
	<input class="dux-input" id="username" type ="text"  ng-model="loginModel.username">

	<button  class="dux-button red round big no-border" type="submit">SAVE</button>
	
</form>
