<form ng-show="showme" class="formContainer" >

	<p>Upiši ime tima</p>
	<input class="stopWatch-input" id="username" type ="text"  ng-model="teamName">
	<button  class="stopWatch-btn" ng-click="findTeam(teamName)">Pretrazi</button>
	<div class="tableContainer">
		<table ng-show="showMeCompetitions" >
		  <tr>
		    <th>Redni broj</th>
		    <th>Ime kluba</th> 
		    
		  </tr>
		  <tr ng-repeat="team in allTeams" >
		    <td>{{ $index + 1 }}</td>
		    <td>
		    	<div class="allList">
		    		<div>{{team.teamName}}</div>
		    		<input type="checkbox" name="" class="check" ng-model="selectedTeam" ng-checked="existTeam(team)" ng-click="toggleSelectionTeam(team)"/>
		    	</div>
		    </td>
		  </tr>
		</table>
	</div>
	<table ng-show="showMeCompetitions">
	  <tr>
	    <th>Redni broj</th>
	    <th>Ime Natjecanja</th> 
	    
	  </tr>
	  <tr ng-repeat="competition in allCompetitions" >
	    <td>{{ $index + 1 }}</td>
	    <td>
	    	<div class="allList">
	    		<div>{{competition.competitionName}}</div>
	    		<input type="checkbox" name="" class="check" ng-model="selectedTeam" ng-checked="existTeam(competition)" ng-click="toggleSelection(competition)"/>
	    	</div>
	    </td>
	 
	  </tr>
	</table>	
	
	
	
</form>
<div class="registrationTeam" ng-show="save">
	<button class="stopWatch-btn"  ng-click="registerOnCompetition()">SAVE</button>
</div>