<form ng-show="showme" class="loginForm" >
	<p>Prvo označi samo jedno natjecanje i pritisni više o natjecanju :)</p>
	<table >
	  <tr>
	    <th>Redni broj</th>
	    <th>Ime Natjecanja</th> 
	    
	  </tr>
	  <tr ng-repeat="competition in allCompetitions" >
	    <td>{{ $index + 1 }}</td>
	    <td>{{competition.competitionName}}<input type="checkbox" name="" class="check" ng-model="selectedTeam" ng-checked="existTeam(competition)" ng-click="toggleSelection(competition)"/></td>
	   
	  </tr>
	</table>	
	
</form>

<button type="button" class="btn btn-primary" ng-click="generateReferee()">Više o natjecanju </button>

<table ng-show="showInfo">
	<tr>
		<th>Redni broj prijavljene ekipe</th>
		<th>Ime Tima</th> 
		<th>Ime Prijavljenog suca ove ekipe</th>
		<th>Ime Prvog Igraca</th>
		<th>Ime Drugog Igraca</th>
		<th>Ime Treceg Igraca</th>
	</tr>
	<tr ng-repeat="sudci in specificCompetitions" >
		<td>{{ $index + 1 }}</td>
	    <td>{{sudci.teamName}}</td>
	    <td>{{sudci.refereeForThisTeam.firstName}} {{sudci.refereeForThisTeam.secondName}}</td>
	    <td>{{sudci.players[0].firstName}} {{sudci.players[0].secondName}}</td>
	    <td>{{sudci.players[1].firstName}} {{sudci.players[1].secondName}}</td>
	    <td>{{sudci.players[2].firstName}} {{sudci.players[2].secondName}}</td>
	</tr>
</table>

<button ng-show="showInfo" type="button" class="btn btn-warning" ng-click="startCompetition()">Generiraj suce i započni natjecanje</button>
