
.loginForm,
.start-competition-description{
    display: flex;
    justify-content: center;
}
.loginForm .competition-list {
    display: inline-flex;
    align-items: center;
    min-width: 200px;
}
.loginForm  td {
    text-align: center;
}

.more-competition,
.generation-competition{
    display: flex;
    margin: 20px auto;
}

.input-cnt {
    display: flex;
    justify-content: space-between;
}

table {
    margin: 20px auto;
}
.input-content input {
    margin: 0 !important;
}