<p class="start-competition-description">Prvo označi samo jedno natjecanje i pritisni više o natjecanju :)</p>
<form ng-show="showme" class="loginForm" >
	<table >
	  <tr>
	    <th>Redni broj</th>
	    <th>Ime Natjecanja</th> 
	  </tr>
	  <tr ng-repeat="competition in allCompetitions" >
		  <td>{{ $index + 1 }}</td>
		  <td class="competition-list"><p>{{competition.competitionName}}</p><input type="checkbox" name="" class="check" ng-model="selectedTeam" ng-checked="existTeam(competition)" ng-click="toggleSelection(competition)"/></td>
	  </tr>
	</table>	
	
</form>

<button type="button" class="btn btn-primary more-competition" ng-click="generateReferee()">Više o natjecanju </button>

<table ng-show="showInfo">
	<tr>
		<th>Redni broj prijavljene ekipe</th>
		<th>Ime Tima</th> 
		<th>Ime Prijavljenog suca ove ekipe</th>
		<th>Ime Prvog Igraca</th>
		<th>Ime Drugog Igraca</th>
		<th>Ime Treceg Igraca</th>
	</tr>
	<tr ng-repeat="sudci in specificCompetitions" >
		<td>{{ $index + 1 }}</td>
	    <td>{{sudci.teamName}}</td>
	    <td>{{sudci.refereeForThisTeam.firstName}} {{sudci.refereeForThisTeam.secondName}}
	    </td>
	    <td>{{sudci.players[0].firstName}} {{sudci.players[0].secondName}} </td>
	    <td>{{sudci.players[1].firstName}} {{sudci.players[1].secondName}} </td>
	    <td>{{sudci.players[2].firstName}} {{sudci.players[2].secondName}} </td>
	</tr>
</table>

<button ng-show="showInfo" type="button" class="btn btn-warning generation-competition" ng-click="startCompetition()">Generiraj suce i započni natjecanje</button>




<table ng-show="showInfo1" ng-click="generatePlayerInfo()">
  <tr>
    <th>Redni broj</th>
    <th>Ime i prezime sudca</th> 
    <th>Klub sudca</th>
    <th>Tim sudca</th>
  </tr>
  <tr ng-repeat="sudci in specificCompetitions" >
    <td>{{ $index + 1 }}</td>
    <td>{{ sudci.refereeForThisTeam.firstName }} {{ sudci.refereeForThisTeam.secondName }}
	    <input id="checkbox" type="checkbox" ng-model='selectedTeam' ng-value='sudci.refereeForThisTeam._id' name="Referee" ng-click="togglePlayersAndReferee(sudci.refereeForThisTeam._id,sudci.refereeForThisTeam.club)"></td>
    <td>{{ sudci.refereeForThisTeam.club }}</td>
    <td>{{ sudci.teamName }}</td>
  </tr>
</table>

<table ng-show="showInfo3">
	<tr>
		<th>Redni broj prijavljene ekipe</th>
		<th>Ime Prvog Igraca</th>
		
	</tr>
	<tr ng-repeat="player in allOtherPlayers" >
		<td>{{ $index + 1 }}</td>
	    <td>{{player.firstName}} {{player.secondName}}<input type="checkbox" ng-model='selectedPlayer' ng-value='player._id' name="player" ng-click="toggleAll(player._id)"></td> 
	</tr>
</table>
<button ng-show="showInfo3" type="button" class="btn btn-warning generation-competition" ng-click="dodjeli_sve()">Dodjeli natjecatelje sudcu</button>
<button ng-show="showInfo3" type="button" class="btn btn-warning generation-competition" ng-click="zapocni_natjecanje()">Započni natjecanje</button>