
<form ng-show="showm" class="formContainer" ng-submit="createReferee(referee)">
	<p>Unesi Ime sudca:</p>
	<input class="stopWatch-input" type ="text"  ng-model="referee.firstName">
	<p> Prezime sudca:</p>
	<input class="stopWatch-input" type ="text"  ng-model="referee.secondName">
	<p>Unesi klub sudca:</p>
	<input class="stopWatch-input" type ="text"  ng-model="referee.club">
	<p> Unesi Password kojeg ce sudac <br>koristiti kod prijave u sustav:</p>
	<input class="stopWatch-input" type ="text"  ng-model="referee.password">
  <button type="button" class="stopWatch-btn" ng-click="createReferee(referee)">Kreiraj suca :)</button>
</form>

<div class="tableContainer">
  <p> Do sad kreirani suci </p>
  <table>
    <tr>
      <th>Redni broj</th>
      <th>Ime sudca</th> 
      <th>Prezime sudca</th>
      <th>Klub sudca</th>
    </tr>
    <tr ng-repeat="player in getAllReferee" >
      <td>{{ $index + 1 }}</td>
      <td>{{ player.firstName }}</td>
      <td>{{ player.secondName }}</td>
      <td>{{ player.club }}</td>
    </tr>
  </table>
</div>