
<form ng-show="showm" class="formContainer" ng-submit="createReferee(referee)">
	<p>Unesi Ime sudca:</p>
	<input class="stopWatch-input" type ="text"  ng-model="referee.firstName">
	<p> Prezime sudca:</p>
	<input class="stopWatch-input" type ="text"  ng-model="referee.secondName">
	<p>Unesi klub sudca:</p>
	<input class="stopWatch-input" type ="text"  ng-model="referee.club">
	<p> Unesi Password kojeg ce sudac <br>koristiti kod prijave u sustav:</p>
	<input class="stopWatch-input" type ="text"  ng-model="referee.password">
  <button type="button" class="stopWatch-btn" ng-click="createReferee(referee)">Kreiraj suca :)</button>
</form>

<div class="tableContainer">
  <p> Do sad kreirani suci </p>
  <table>
    <tr>
      <th>Redni broj</th>
      <th>Ime sudca</th> 
      <th>Prezime sudca</th>
      <th>Klub sudca</th>
    </tr>
    <tr ng-repeat="player in getAllReferee" >
      <td>{{ $index + 1 }}</td>
      <td>{{ player.firstName }}</td>
      <td>{{ player.secondName }}</td>
      <td>{{ player.club }}</td>
        <td><i class="fa fa-trash" aria-hidden="true" ng-confirm-click="Jeste li sigurni da želite obrisati sudca?" confirmed-click="deleteReferee(player._id)" style="cursor: pointer;"></i></td>
        <td><i class="fa fa-edit" aria-hidden="true" ng-click="editReferee(player)"></i></td>
    </tr>
  </table>


    <div class="edit-container" ng-show="visible_edit">
        <div class="edit-column">
            <div>Ime sudca</div>
            <input class="stopWatch-input"  type ="text"  ng-model="referee_edit.firstName">
        </div>
        <div class="edit-column">
            <div>Prezime sudca</div>
            <input class="stopWatch-input"  type ="text"  ng-model="referee_edit.secondName">
        </div>
        <div class="edit-column">
            <div>Klub sudca</div>
            <input class="stopWatch-input"  type ="text"  ng-model="referee_edit.club">
        </div>
        <div class="edit-column">
            <div style="display: none;">id natjecatelja</div>
            <div style="display: none;"><input type ="text"  ng-model="referee_edit.id"></div>
        </div>

        <div class="edit-btn">
            <button type="button" class="stopWatch-btn" ng-click="saveEditReferee(referee_edit)">Save</button>
            <button type="button" class="stopWatch-btn" ng-click="cancelEditReferee()">Cancel</button>
        </div>
    </div>


</div>