.about-content {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-content p {
    width: 75%;
}
.about-content p,
.about-content img {
    margin: 20px 0;
}