.stopWatchContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.stopWatchContainer select{
	width: 150px;
	margin: 20px auto;
}
.stopWatchContainer .counterContainer .stopWatch {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: solid 0.5px #bbb;
	padding: 40px;
	font-size: 50px;
	text-align: center;
	margin: 20px 0;
}

.stopWatchContainer .counterContainer, .buttonContainer{
	display: flex;
	justify-content: center;
}
.stopWatchContainer .buttonContainer button{
	margin-right: 10px;
}
@media screen and (min-width: 600px) {
	.stopWatchContainer table{
		width: 80%;
		margin:0 auto;
	}
	.stopWatchContainer table .tableField{
		display: flex;
    	justify-content: space-between
	}
}
@media screen and (max-width: 600px) {
	.stopWatchContainer table, th , td{
		font-size: 12px;
		margin-top: 0px;
	}
	.stopWatchContainer table .tableField{
		display: flex;
	}
	.stopWatchContainer table .tableField p{
		width: 78%;
		margin: 0;
	}
	.stopWatchContainer table .tableField input{
		margin: auto 0;
	}
}