<div ng-app="stopWatchApp" ng-controller="stopWatchDemoCtrl" class="stopWatchContainer">

    <header>
        <div class="header-content">
            <img src="../img/logo.svg">
            <div class="loginContainer">

                <form class="loginForm">
                    <div class="column">
                        <button type="button" class="btn" ng-click="odjava()">Odjavi se</button>
                    </div>
                </form>
            </div>
        </div>
    </header>


    <select class="styled-select slate" ng-init="selectedCategory = categories[0]"  ng-model="selectedCategory" ng-options="c for c in categories" ng-change="checkCategoryAndGenerateTable(selectedCategory)"></select>
    <table >
    <tr>
      <th>Redni broj</th>
      <th>Ime i Prezime</th>
      <th>Klub</th>
      <th>Prvi Rezultat</th>
      <th>Drugi Rezultat</th>
      <th>Treći Rezultat</th>
    </tr>
    <tr ng-repeat="p in players" >
      <td>{{ $index + 1 }}</td>
      <td><div class="tableField"><p>{{p.player.firstName}} {{p.player.secondName}}</p><div class="input-content"><input type="checkbox" name=""  ng-model="selectedPlayer" ng-checked="exist(p.player)" ng-click="toggleSelection(p.player)"/></div></div></td>
      <td><p>{{p.player.club}}</p></td>
      <td><div class="tableField"><p>{{ selektiranPadobran ? p.parachute1.result : p.track1.result }}</p></div></td>
      <td><div class="tableField"><p>{{ selektiranPadobran ? p.parachute2.result : p.track2.result }}</p> </div></td>
      <td><div class="tableField"><p>{{ selektiranPadobran ? p.parachute3.result : p.track3.result }}</p></div></td>
    </tr>
  </table> 

  
  <div class="counterContainer">
    <div ng-bind="counter" class="stopWatch"></div>
  </div>
  <div class="buttonContainer">
    <button ng-disabled="!counterStarted" ng-click="stop(selectedCategory, option.name)">Stop</button>
    <button ng-disabled="counterStarted" ng-click="countdown()">Start</button>
    <button ng-disabled="!counterStarted" ng-click="setToNull(selectedCategory, option.name)">Nula</button>
  </div>
</div>